.contact-preview {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 3px;
    padding-inline-end: 10px;
    cursor: pointer;
    .contact-name {
        font-weight: 600;
        flex-grow:1;
    }
    &:hover {
        background-color: rgb(236, 226, 226);
        .action-btn {
            display: inline-block;
        }
    }
    .action-btn {
        display: none;
        margin-inline-start: 20px;
    }
}