@import "../../../assets/scss/setup/mixins";

.contact-edit-page {
    .contact-edit-form {
        align-items: flex-start;

        & > * {
            margin-bottom: 20px;
        }

        .label-text {
            font-weight: 600;
            margin-bottom: 10px;
        }

        .mat-form-field-appearance-legacy {
            width: 400px;
        }
    }
}
