<header class="main-header ">
    <nav class="nav-container flex space-between align-center main-layout ">
        <div class="logo" routerLink="">
            <span *ngFor="let letter of logoLetters; let idx = index;"
                [ngClass]="'logo-letter-'+(idx+1)">{{letter}}</span>
        </div>
        <ul class="main-nav flex clear-list">
            <li>
                <a href="" routerLink="">Home</a>
            </li>
            <li>
                <a href="" routerLink="contact">Contacts</a>
            </li>
        </ul>
    </nav>
</header>