@import "../../../assets/scss/setup/mixins";

.contact-filter {
    @include regular-input;
        width: 200px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      
      /* When the input field gets focus, change its width to 100% */
      &:focus{
          width: 400px;
        }
           
}
